{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-attributes"
  ],
  "importOrder": [
    "^vue",
    "^@?\\w",
    "^@/assets/(.)$",
    "^@/components/(.)$",
    "^@/composables/(.)$",
    "^@/pages/(.)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "attributeGroups": [
    "^(:is|is)$",
    "^v-for$",
    "^v-if$",
    "^v-else.*$",
    "^v-show$",
    "^(ref|:key|key|v-slot:.*|#.*|slot)$",
    "^v-.*",
    "^(id|name|type|value|role|title)$",
    "^class$",
    "^style$",
    "^aria-.*",
    "$DEFAULT",
    "^:.*",
    "^@.*"
  ]
}